extends layout

block content
  h2.ui.center.aligned.icon.header
    i.lock.icon
    .content
      | Content is Locked
      .sub.header Please Register or Login to Unlock Content
          br
          .ui.buttons
            a.ui.button(role='button' href='/register') Register
            .or
            a.ui.positive.button(role='button' href='/login') Login
